extends layout
block content

  h1= WORKING
  
  //- h1= title
  //- p Welcome tsomething changedo #{title}
  //- p  #{msg}

  //- p #{values}

  //- -each val in values
  //-   p -----------------------
  //-   -each v, index in val 
  //-       p #{index + ': ' + val[index]}


